.tesseract {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;

    pointer-events: all;
}

.panel {
    width: calc(40px*3*var(--panel-width));
    height: calc(40px*3*var(--panel-height));
    padding: 10px;
    overflow-y: visible;
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden;
    transform: translateZ(0);
}

.link {
    position: relative;
    line-height: 50px;
    min-width: 50px;
    min-height: 5px;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.link-enabled:hover {
    color: white;
}

.modal {
    font-size: 20px;
    --panel-width: 6;
    --panel-height: 2;

    button {
        font-size: 20px;
    }

    input {
        font-size: 20px;
    }
}

.overlay {
    display: flex;

    z-index: 1000000000;

    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;

    pointer-events: none;
    overflow: scroll;

    div {
        pointer-events: all;
    }
}